/* Mobile */
@charset "UTF-8";
/* CSS Document */

/*WebDesignAndSuch.com*/


/* =Popup Styles
-------------------------------------------------------------- */
.sd_overlay {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background-color: #000;
}
.sd_container {
	font-family: arial,helvetica,sans-serif;
	margin: 0;
	padding: 0px;
	position: absolute;
	position:relative;
	background: #fff;
	width:400px;
	height:600px;
	border:5px solid #000;
	text-align: center;
}
.sd_container h2 {
	margin-bottom: 20px;
}
.sd_container p {
	margin: 0 !important;
}

.jqZoomPup {
	max-height: 258px !important;
}

.addthis_toolbox {
  display: inline;
  float: right;
}

.CompareButton {
	display: none !important;
}

.TabNav {
    border-bottom: 1px solid #DADADA;
}
.TabNav {
    font-size: 11px;
    height: 22px;
    margin-bottom: 10px;
}
.TabNav li {
    display: inline-block !important;
}
.TabNav, .TabNav li {
    list-style: none outside none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.TabNav {
	margin-bottom: 20px !important;
}
.TabNav li a {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #DADADA;
    color: #606060;
}
.TabNav li a {
    font-size: 12px;
    margin-right: 6px;
    margin-top: 3px;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    top: 2px;
}
.TabNav li.Active a {
    background: none repeat scroll 0 0 #2F2F2F;
    border-bottom: 1px solid #DADADA;
    color: #FFFFFF !important;
}
.TabNav li.Active a {
    font-weight: bold;
    margin-top: 0;
}
.ContentList,
.ContentList li {
	clear: both !important;
	display: block !important;
	float: none !important;
	list-style-type: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.ProductList,
.ProductList li {
	clear: both !important;
	display: inline !important;
	float: left !important;
	list-style-type: none !important;
	margin: 0 !important;
	width: 100% !important;
}
.ProductList li {
	margin-bottom: 20px !important;
}
.ProductList li .ProductImage {
	display: inline;
	float: left;
	margin-right: 20px;
	text-align: center;
	width: 150px;
}
.ProductList li .Rating,
.ProductList li .ProductQty {
	display: none !important;
}
.ProductList li .ProductRightCol {
	float: right;
	margin-bottom: 5px;
}
.ProductList li .ProductRightCol .ProductPrice {
  color: #488636;
  font-size: 18px;
}
.ProductList li .ProductRightCol .ProductPrice strike {
	color: #3e3d3d;
	font-size: 12px;
}
.ProductList li strong {
	display: inline-block;
	margin-bottom: 5px;
}
.ContentList li a {
	font-weight: bold;
}
#SearchResultsCategory {
	margin-bottom: 20px;
}
#SearchResultsCategory a {
	font-weight: bold;
}
.SearchSorting {
	margin-bottom: 20px;
	text-align: right;
}
#SearchSortingSelectContainer {
	line-height: 20px;
}
.SearchSorting select {
	float: right !important;
	margin-left: 10px;
}
#AdvancedSearchForm {
	padding-bottom: 40px;
}
#AdvancedSearchForm ul,
#AdvancedSearchForm ul li {
	clear: both !important;
	display: inline !important;
	float: left !important;
	list-style-type: none !important;
	margin: 0 !important;
}
#AdvancedSearchForm ul li {
	margin-bottom: 2px !important;
}
#AdvancedSearchForm ul li input[type="checkbox"] {
	margin-right: 5px;
}
#AdvancedSearchForm input.Textbox {
	display: inline-block !important;
	float: none !important;
	margin: 0 20px 0 10px !important;
}
#AdvancedSearchForm input[type="submit"] {
  
  clear: both;
  color: transparent;
  display: inline;
  float: left;
  height: 31px;
  margin: 0 10px 10px 0;
  text-indent: -9999px;
  text-transform: uppercase;
  width: 99px;
}
.InfoMessage {
	clear: both;
	display: block;
}
.ErrorMessage strong {
	color: #a00 !important;
	display: inline !important;
}
#AdvancedSearchForm hr {
	display: none !important;
}
#CartStatusMessage {
	margin-bottom: 20px;
}

#AjaxLoading {
	background: #fef2ae;
	border: 1px solid #a55e00;
	border-top: none;
	display: none;
	height: 40px;
	line-height: 38px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 250px;
	z-index: 1000;
}
#AjaxLoading img {
	margin-bottom: -3px;
	margin-right: 10px;
}


/* YUI Style overrides */
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover {
	color: #fff !important;
}

/* Referral Box */
.Referrals { background: #fff; border: 2px dotted #000; display: block; margin-bottom: 20px; }
.Referrals .inner { padding: 10px; }
.Referrals h2 { border-bottom: 1px solid #ccc; font-size: 14px; padding-bottom: 2px; margin: 0 0 5px; }
.Referrals h3 { font-size: 20px; line-height: 100%; margin: 0; }
.Referrals p { margin: 0 0 5px; }
.Referrals div,
.Referrals small p {margin-bottom: 0;}
.Referrals .reward { display: inline; float: left; margin: 0 20px 5px 0; }
.Referrals .reward + .reward { margin-right: 0; }
.Referrals .reward span.discount { color: #ff6c00; display: inline; float: left; font-size: 50px; font-weight: bold; line-height: 47px; margin-right: 2px; }
.Referrals .reward span.discount sup { font-size: 20px; }
.Referrals .reward span.discount + span { display: inline; float: left; font-size: 20px; line-height: 20px; margin-top: 5px; }
.Referrals a.referral-button {
	background-color: #42872d;
	background-image: linear-gradient(top, #59ae41, #2d651c);
	background-image: -moz-linear-gradient(top, #59ae41, #2d651c);
	background-image: -ms-linear-gradient(top, #59ae41, #2d651c);
	background-image: -o-linear-gradient(top, #59ae41, #2d651c);
	background-image: -webkit-linear-gradient(top, #59ae41, #2d651c);
	border: 1px solid #2d651c;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	clear: both;
	color: #fff !important;
	display: inline;
	float: left;
	height: 36px;
	list-style-type: none;
	line-height: 36px;
	margin-top: 10px;
	padding: 0 15px;
	text-shadow: 0 -1px 0 #2d651c;
}
.Referrals a.referral-button:hover {
	color: #fff !important;
	text-decoration: none !important;
}

.column-small-right {
	
}
.Block.BlockContent.banner_home_page_bottom {
    padding: 5px 10px;
}

.christmas {
    padding: 0 2px 5px;
}









@charset "UTF-8";
body {
	font-family:Palatino, Baskerville, Georgia, serif;
	background:#190121;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
}
 #container {
	width: 780px;  
	background: #FFFFFF;
	margin: 0 auto; 
	font-size:14px;
	
	text-align: left; 
}
#mainContent {
	padding: 0 60px;
	min-height:600px;
	line-height:25px
}

img {border:0px}




/*LINKS*/

#mainContent a:link, #mainContent a:visited {color:#fff; text-decoration:none; font-size:18px; background:#000000; padding:5px; -webkit-border-radius:10px;
-moz-border-radius:10px}
#mainContent a:hover, #mainContent a:active {color:#fff; text-decoration:none; font-size:18px; background:#333333; padding:5px; -webkit-border-radius:10px;
-moz-border-radius:10px}





/*STYLES FOR CSS POPUP*/


#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
	position:relative;
	background: #fff;
	width:400px;
	height:400px;
	border:5px solid #000;
	z-index: 9002;
}

#popUpDiv a {position:relative; top:20px; left:20px }

.buttonhd {
  display:block;
  margin: auto;
  text-align: center;
  border-radius:4px;
  text-decoration: none;
  font-family:'Lucida Grande',helvetica;
  background: #69c773;
  background-color: rgb(105, 199, 115);
  -webkit-box-shadow: 0 4px 0 0 #51a65f;
  -moz-box-shadow: 0 4px 0 0 #51a65f;
  box-shadow: 0 4px 0 0 #51a65f;
  font-size: 20px !important;
  padding: 15px 20px;
  width: auto;
  height: 80px;
  color: #FFF;
}
.button:hover {
  color: #51A65F;
}	

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}
.modal {
margin-top:150px !important;
margin-left:150px;
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}

.ui.inverted.menu .dropdown .item,
.ui.inverted.menu .dropdown .item>a:not(.ui) {
  color: #000000;
}

.pull-left {
  float: left;
  padding: 0 1rem 1rem 0;
  max-width: 50%;
}

.pull-right {
  float: right;
  padding: 0 0 1rem 1rem;
  max-width: 50%;
}

.text-justify {
  text-align: justify;
}

.thread-post .Markdown {
  font-size: 18px;
  overflow-x: auto;
}
.thread-post img {
  max-width: 100%;
}

.thread-post h1,
.thread-post h1:first-child,
.thread-post h2,
.thread-post h2:first-child,
.thread-post h3,
.thread-post h3:first-child,
.thread-post h4,
.thread-post h4:first-child,
.thread-post h5,
.thread-post h5:first-child,
.thread-post h6,
.thread-post h6:first-child {
  margin-top: 1em
}

.thread-post code,
.thread-post kbd,
.thread-post pre {
  font-family: monospace, monospace;
  font-size: 0.9em;
}

.thread-post p,
.thread-post ul,
.thread-post ol,
.thread-post dl,
.thread-post table,
.thread-post pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.thread-post blockquote {
  border-left: 0.25em solid #d4d4d5;
  margin: 0;
  padding-left: 1em;
}


.thread-post pre {
  font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.thread-post code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.thread-post code {
  padding: 0.2em;
  margin: 0.2em;
  font-size: 85%;
  color: #333;
  background-color: #ededed;
  border-radius: 0px;
}

.thread-post code::before,
.thread-post code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.thread-post pre {
  word-wrap: normal;
}

.thread-post pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.thread-post pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.thread-post pre code::before,
.thread-post pre code::after {
  content: normal;
}

.thread-post .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.thread-post .highlight pre,
.thread-post pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #333;
  background-color: #ededed;
  border-radius: 3px;
}

.thread-post pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.thread-post pre code::before,
.thread-post pre code::after {
  content: normal;
}

.thread-post .chainbb-footer {
  display: none;
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #ededed;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
